## Install nginx and php71-fpm
packages:
  yum:
    nginx: []
    php71-fpm: []

## Stop apache, add nginx / php-fpm boot up and environment config
commands:
  010_stop_apache:
    test: service httpd status | grep running
    command: service httpd stop
  020_nginx_env:
    command: touch /etc/nginx/fastcgi_params_env
  030_nginx_boot:
    command: chkconfig nginx on
  040_php_fpm_boot:
    command: chkconfig php-fpm on
  050_php_error_log_perms:
    command: chown -R webapp /var/log/php-fpm

## Update the Elasticbeanstalk environment and config files
container_commands:
  ## Make all .sh scripts executable
  001_sh_executable:
    command: find .ebextensions/setup/hooks/ -type f -iname "*.sh" -exec chmod +x {} \;
  ## Copy all custom platform scripts and config files
  010_hooks:
    command: cp -rf .ebextensions/setup/hooks/* /opt/elasticbeanstalk/hooks/
  020_support:
    command: cp -rf .ebextensions/setup/support/* /opt/elasticbeanstalk/support/
  030_tasks:
    command: cp -rf .ebextensions/setup/tasks/* /opt/elasticbeanstalk/tasks/
  ## Copy custom nginx and php-fpm config files
  040_nginx_conf:
    command: cp -f .ebextensions/setup/config/nginx/nginx.conf /etc/nginx/nginx.conf
  050_nginx_default_conf:
    command: cp -f .ebextensions/setup/config/nginx/php.conf-7.1 /etc/nginx/default.d/php.conf-7.1
  060_php_fpm_conf:
    command: cp -f .ebextensions/setup/config/php-fpm/php-fpm.conf /etc/php-fpm-7.1.conf
  070_www_pool_conf:
    command: cp -f .ebextensions/setup/config/php-fpm/www.conf /etc/php-fpm-7.1.d/www.conf
  080_healthd_nginx_cron_conf:
    command: cp -f .ebextensions/setup/config/cron/healthd.nginx.conf /etc/cron.hourly/cron.logcleanup.elasticbeanstalk.healthd.nginx.conf
  090_cron_executable:
    command: chmod +x /etc/cron.hourly/cron.logcleanup.elasticbeanstalk.healthd.nginx.conf
  ## Uncomment the following for gzip and real_ip configs. Be sure to rename the files in
  ## the /setup/config/nginx directory!!
  #100_gzip_conf:
  #  command: cp -f .ebextensions/setup/config/nginx/gzip.conf /etc/nginx/conf.d/gzip.conf
  #110_real_ip_conf:
  #  command: cp -f .ebextensions/setup/config/nginx/real_ip.conf /etc/nginx/conf.d/real_ip.conf
